<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/">Home</a>
	<a href="/credits">Credits</a>
	<a href="/quizzes">Quizzes</a>
    <p>Pagina creada por Juan Lluva</p>
  	<img src="/images/author.png" height="300px">
  </body>
</html>