<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <a href="/">Home</a>
	<a href="/credits">Credits</a>
	<a href="/quizzes">Quizzes</a>
	<p>Primera entrega de Quiz CORE con Express</p>
  </body>
</html>
